.tf-build/
debian/python3-tensorflow/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/*.debhelper
debian/*.postinst.debhelper
debian/*.prerm.debhelper
debian/*.postrm.debhelper
