#!/usr/bin/make -f

TF_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/-[^-]*$$//')
WORKDIR := $(CURDIR)/.tf-build

%:
	dh $@ --with python3

override_dh_auto_build:
	mkdir -p $(WORKDIR)/wheel $(WORKDIR)/src
	pip3 download --no-deps --only-binary :all: \
	  "tensorflow==$(TF_VERSION)" -d $(WORKDIR)/wheel
	python3 -m zipfile -e $(WORKDIR)/wheel/tensorflow-$(TF_VERSION)-*.whl $(WORKDIR)/src/

override_dh_auto_install:
	install -d debian/python3-tensorflow/usr/lib/python3/dist-packages/
	cp -r $(WORKDIR)/src/tensorflow debian/python3-tensorflow/usr/lib/python3/dist-packages/
	cp -r $(WORKDIR)/src/tensorflow-$(TF_VERSION).dist-info \
	      debian/python3-tensorflow/usr/lib/python3/dist-packages/ 2>/dev/null || true
	dh_numpy3

override_dh_auto_test:
	# Skip tests - this is a prebuilt wheel repackage

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(WORKDIR)
